@model ReviewApp.Models.Review
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Details for @Model.Title</h1>
    <section><img src="@Model.ImageURL" alt="@Model.AltPicText"/></section>
    <section>
        <p>Review: @Model.Content</p>
    </section>
    <section>Category: @Model.ReviewCategory</section>
</body>
</html>
